body {
}
.contact-btn{
    border: 1px solid #428bca;
    border-radius:10px;
    text-align:center;
    vertical-align:middle;
    background-color:#428bca;
    color:white;
    margin:10px;
}
.contact-btn-nav-bar{
    border: 1px solid #428bca;
    border-radius:10px;
    text-align:center;
    background-color:#428bca;
    font-size:20px;
    color:white;
    height:40px;
    width:120px;
    padding-top:0;
    margin-bottom:5px;
    vertical-align:middle;
}
.contact-btn-nav-bar :hover{
    opacity:.8;
}
